In [ ]:
# this is modeling file for student dropout prediction

In [2]:
import pandas as pd
import numpy as np
import sklearn
import tensorflow 
from tensorflow import keras

2025-08-24 22:14:52.990992: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
# Used pickle to obtain our preprocessed dataframe
import pickle

with open("preprocessed.pkl", "rb") as f:
    df = pickle.load(f)

In [4]:
df.head(4)

,marital_status_2,marital_status_3,marital_status_4,marital_status_5,marital_status_6,application_mode_2,application_mode_5,application_mode_7,application_mode_10,application_mode_15,...,curricular_units_2nd_sem_(credited),curricular_units_2nd_sem_(enrolled),curricular_units_2nd_sem_(evaluations),curricular_units_2nd_sem_(approved),curricular_units_2nd_sem_(grade),curricular_units_2nd_sem_(without_evaluations),unemployment_rate,inflation_rate,gdp,target
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,0,0,0,0,0,0,0,0,0,1,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,0,0,0,0,0,0,0,0,0,0,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,0,0,0,0,0,0,0,0,0,0,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate

In [5]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

In [ ]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('lr', lr)
])