In [ ]:
# this is modeling file for student dropout prediction

In [2]:
import pandas as pd
import numpy as np
import sklearn
import tensorflow 
from tensorflow import keras

In [3]:
# Used pickle to obtain our preprocessed dataframe
import pickle

with open("preprocessed.pkl", "rb") as f:
    df = pickle.load(f)

In [4]:
df

      marital_status  application_mode  ...   gdp    target
0                  1                17  ...  1.74   Dropout
1                  1                15  ...  0.79  Graduate
2                  1                 1  ...  1.74   Dropout
3                  1                17  ... -3.12  Graduate
4                  2                39  ...  0.79  Graduate
...              ...               ...  ...   ...       ...
4419               1                 1  ... -4.06  Graduate
4420               1                 1  ...  2.02   Dropout
4421               1                 1  ...  0.79   Dropout
4422               1                 1  ... -3.12  Graduate
4423               1                10  ... -1.70  Graduate

[4424 rows x 37 columns]